.site-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
.entry-title{
	font-size: 1em;
}

.entry{
	margin-top:0;
}

.liste-cours > article{
    background: darkcyan(0, 0, 0, 0.2);
    border: 2px solid darkcyan;
    box-shadow: 0 0 18px darkcyan(0, 0, 0, 0.5);
    transition-duration: 1s;
}

.liste-cours > article:hover{
    background: darkcyan(0, 0, 0, 0.2);
    border: 1px solid darkred;
    box-shadow: 0 0 18px darkcyan(0, 0, 0, 0.5);
    transition-duration: 1s;
    color: darkseagreen;
}


@include media (mobile) {
	#listeCours{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin: 2%;
	}
}

@include media (tablet) {
	#listeCours{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 2%;
	}
}

@include media (desktop) {
	#listeCours{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin: 2%;
	}
}

@include media (wide) {
	#listeCours{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		margin: 2%;
	}
}